= form_with model: post, class: "text-center" do |form|
  .align-items-center
    = form.label :title 
    = form.text_field :title 
  %align-items-center
    = form.label :text
    = form.text_area :text

  %div
    = form.submit